<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    {% load static %}

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static '/coffee/js/shoppingCart.js' %}"></script>

    <!-- Copiato da Ferracane -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap Core CSS -->
    <link href="{% static '/coffee/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static '/coffee/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fine Copiato da Ferracane -->

</head>
<body background="{% static '/coffee/image/sfondo1.jpg' %}"></body>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                BuyCoffee
            </a>
        </div>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="panel panel-warning" >
        <div class="panel-heading">
            <h1>I NOSTRI PRODOTTI</h1>
        </div>
            <h4 id="panel-index-body" class="panel-body">
                Sul nostro sito si vendono <span id="number">2</span> tipologie di caffè: Arabica e Americano. <br><br>
                Esistono diverse specie di Coffea, la pianta del caffè, arbusto sempreverde, appartenente alla famiglia botanica delle Rubiacee.
                La qualità più pregiata, l’Arabica, rappresenta il <span id="number">59%</span> della produzione mondiale di caffè.
                Per gli amanti del caffè aromatico e ricco di gusto c'è l'americano a macinatura media apprezzato negli Stati Uniti e nel Nord America.<br><br>

                L'ordine si effettua in maniera semplicissima, un click sulla specialità di caffè che si preferisce e dopo pochi secondi la cialda uscirà dall'apposito distributore in modo pratico e veloce.<br><br>

                Per ulteriori informazioni non esitate a contattarci.<br><br>
                <div id="name">BuyCoffee</font>
            </h4>
        </div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static '/coffee/js/bootstrap.min.js' %}"></script>
</html>