<!doctype html>
<html>
    <head>
        {% load static %}
        <title>BuyCoffee</title>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap Core CSS -->
        <link href="{% static '/coffee/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static '/coffee/css/custom.css' %}" rel="stylesheet" type="text/css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>


    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    BuyCoffee
                </a>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="signup" href="{% url 'registration' %}">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container-fluid">

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h1 id="title">COFFEE ORDER</h1>
                </div>

                <div id="panel-index-body" class="panel-body">
                    {% load static %}
                    {% if coffee_list %}

                    <ul class="list-group">
                        {% for capsule in coffee_list %}
                            {% if capsule.coffeeQuantity is 0 %}
                                <button type="button" class="list-group-item disabled">
                                    <font color="#808080">{{ capsule.coffeeType }}</font>
                                    <span class="badge badge-primary badge-pill">No available</span>
                                </button>
                            {% else %}
                                <a class="nounderline" href="{% url 'payment' capsule.coffeeType %}">
                                    <button type="button" class="list-group-item">
                                        <font color="#6F4827">{{ capsule.coffeeType }}</font>
                                        <span class="badge badge-primary badge-pill">{{ capsule.coffeeQuantity }}</span>
                                        <span id="priceId">{{ capsule.coffeePrice }} €</span>
                                    </button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="list-group-item-warning">Non ci sono cialde disponibili</ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <script src="{% static '/coffee/js/shoppingCart.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/coffee/js/bootstrap.min.js' %}"></script>
    </body>
</html>




