<!DOCTYPE html>
<html lang="en">

<head>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <meta charset="UTF-8">
    <title>Pagamento</title>

    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static '/coffee/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static '/coffee/js/shoppingCart.js' %}"></script>
    <script src="{% static '/coffee/js/bootstrap.min.js' %}"></script>


    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static '/coffee/css/custom.css' %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

    <body background="{% static '/coffee/image/sfondo1.jpg' %}"></body>


<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    BuyCoffee
                </a>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<form action="{% url 'loginPage' capsule.coffeeType %}" method="post">
    {% csrf_token %}


    <div class="container-fluid">
        <h1>Capsule chosen:</h1>

        <div class="table-responsive">
            <table class="table">
                <tr class="table-warning">
                    <td class="table-warning"><b>Type</b></td>
                    <td class="table-warning"><b>Price</b></td>
                </tr>
                <tr>
                    <td class="table-bordered">{{ capsule }}</td>
                    <td id="paymentPriceId" class="table-bordered">{{ capsule.coffeePrice }} €</td>
                </tr>
            </table>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading"><h5><b><font color="black">Description: </font></b></h5></div>
            <div class="panel-body"><p>{{ capsule.coffeeDescription }}</p></div>
        </div>

        <input type="submit" class="btn-warning btn-lg" name="coffeeType" value="Pay">
        <a class="nounderline" href="{% url 'index' %}">
            <button type="button" class="btn-secondary btn-lg">
                    Cancel
            </button>
        </a>

    </div>

</form>

</body>

</html>