<!DOCTYPE html>
<html lang="en">

<head>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <meta charset="UTF-8">
    <title>Pagamento</title>
</head>

<body>
<form action="{% url 'pay' %}" method="post">
    {% csrf_token %}

    <h3>Sei sicuro di voler pagare?</h3>
    <p>Hai scelto <br>{{ capsule }} </p>

    <div>
        <input type="submit" name="coffeeType" value={{ capsule.coffeeType }}>
        <button type="reset">
            <a href="{% url 'index' %}">Annulla
            </a>
        </button>
    </div>

</form>

</body>
</html>