<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    {% load static %}

    <link href="{% static '/coffee/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static '/coffee/css/custom.css' %}" rel="stylesheet" type="text/css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="{% static '/coffee/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/coffee/js/jquery-3.3.1.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body id="loginBody">
    <script>
        $(document).ready (function(){
            $("#loginFailed").fadeTo(2000, 500).slideUp(500, function(){
                $("#loginFailed").slideUp(500);
            });
        });
    </script>

<div class="login-div">

    <form action="{% url 'validateUser' %}" method="post">
        {% csrf_token %}

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h1 id="heading-title">REGISTRATION </h1>
            </div>

            <div id="panel-index-body" class="panel-body">


                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="last_name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email or User</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="user" aria-describedby="emailHelp" placeholder="User name">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm password" placeholder="Confirm password" required>
                </div>

                <button type="submit" class="btn-warning btn-lg">Sign up</button>

                <a class="nounderline" href="{% url 'index' %}">
                    <button type="button" class="btn-secondary btn-lg">
                        Cancel
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>

    <div class="alert">
        {% if registrationFailed is True %}
            <div id="loginFailed" class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading">Something went wrong...</h4>
                <p>Existing user or confirm password wrong. Password must contain more than 8 character</p>
            </div>
        {% endif %}
    </div>
</body>
</html>