<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>

    {% load static %}

    <link href="{% static '/coffee/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static '/coffee/css/custom.css' %}" rel="stylesheet" type="text/css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="{% static '/coffee/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/coffee/js/jquery-3.3.1.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h1 id="heading-title">THANKS </h1>
        </div>

        <div id="panel-index-body" class="panel-body">
            Thank you for choosing BuyCoffee. Your product will be erogated in a few seconds.
            <br>
            <br>
            <a class="nounderline" href="{% url 'index' %}">
                <button type="button" class="btn-warning btn-lg">
                    Continue shopping
                </button>
            </a>
        </div>
    </div>
</div>

    <div class="alert">
        <div id="success" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Well done!</h4>
            <p>Your purchase has been successful.</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="{% static '/coffee/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/coffee/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/coffee/js/shoppingCart.js' %}"></script>
    <script src="{% static '/coffee/js/bootbox.min.js' %}"></script>

    <script>

        $(document).ready (function(){
            $("#success").fadeTo(2000, 500).slideUp(500, function(){
                $("#success").slideUp(500);
            });

        });

    </script>

</body>
</html>