/* CSS Document */

{% load static %}

@font-face {
    font-family: "Antipasto";
    src: url("../fonts/Antipasto-RegularTrial.ttf");
}

@font-face {
    font-family: "Antipasto-light";
    src: url("../fonts/Antipasto-ExtraLightTrial.ttf");
}

h1 {
    text-align: left;
    font-family: Antipasto, Times, Serif;
    font-size: 32px;
    color: #6F4827;
}


#mail{
    font-family: Verdana;
    text-align: left;
}
#signup{
    alignment: right;
}
#name{
    font-family: Antipasto;
    font-size: 170%;
    padding: 11px 15px 0 28px;
    background-image: url(../image/chiccocioccolato.png);
    background-repeat: no-repeat;
    background-size: 26px 23px;
    background-position: 0 12px;
    margin-left: 0.5em;
    font-size: 30px;
    color: chocolate ;
}

#title{
    text-align: left;
    font-family: Antipasto, Times, Serif;
    font-size: 32px;
    color: #6F4827;
    padding: 0 0 0 0;
    background-image: url(../image/tazza.png);
    background-repeat: no-repeat;
    background-size: 80px 50px;
    background-position: 175px, 0, 20px;
}

.paymentcss {
    text-align: left;
    font-family: Antipasto, Times, Serif;
    padding: 20px;
    color: black;
}

.coffeeList {
    text-align: left;
    padding: 2em;
    color: #6F4827;
    font-family: Antipasto, Times, Serif;
}

.nounderline {
    text-decoration-color: white;
    text-decoration: none !important;
    text-line-through-color: white;
    color: #6F4827;
}

a:hover {
    color: #6F4827;
}

.list-group-item {
    color: #6F4827;
    border-color: #6F4827;
    text-line-through-color: #6F4827;
    margin-top: 2%;
    padding: 1em;
    font-size: large;
}

.badge-primary {
    background-color: #6F4827;
    margin-right: auto;
    float: right;
    font-family: Times;
    font-size: medium;
}

@media only screen and (max-width: 799px) {
    .login-div {
        background: transparent;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
        max-width: 85%;
    }

    .bar-div {
        padding-top: 2em;
        margin-left: 5%;
        margin-right: 5%;
        font-family: Antipasto;
    }

    .container-fluid {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
    }

    .navbar-brand{
        font-size: 170%;
        padding: 17px 15px 0 28px;
        background-image: url(../image/chiccobianco.png);
        background-repeat: no-repeat;
        background-size: 26px 23px;
        background-position: 0 12px;
        margin-left: 0.5em;
    }
    #image {
        width: 70%;
        margin-left: 2.5em;
    }

    body {
        text-align: left;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Antipasto, Times, Serif;
        font-size: large;
        background-image: url("../image/background_desktop_mobile.jpg");
        background-attachment: fixed;
    }
}

@media only screen and (min-width: 800px) {
    .login-div {
        background: transparent;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2em;
        max-width: 25%;
        font-family: Antipasto;
        font-size: large;
    }

    .bar-div {
        padding-top: 2em;
        margin-left: 30%;
        margin-right: 30%;
        font-family: Antipasto;
    }

    .container-fluid {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6em;
    }

    .navbar-brand{
        font-size: 170%;
        padding: 18px 15px 0 28px;
        background-image: url(../image/chiccobianco.png);
        background-repeat: no-repeat;
        background-size: 26px 23px;
        background-position: 0 12px;
        margin-left: 25%;
    }

    #image {
        width: 110%;
        margin-left: 3em;
    }

    body {
        text-align: left;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Antipasto, Times, Serif;
        font-size: large;
        background-image: url("../image/background_desktop.jpg");
    }
}

h2 {
    text-align: center;
    color: #6F4827;
    font-family: Antipasto, Times, Serif;
}

.table {
    padding-top: 1em;
    border-color: transparent;
    text-line-through-color: transparent;
}

.table-warning {
    background-color: #fcf8e4;
    border-color: transparent;
}

.alert {
    padding-top: 1em;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}

.btn-warning {
    min-width: 6em;
}

.btn-secondary {
    background-color: lightgray;
    color: black;
    border-color: grey;
    min-width: 6em;
}

.btn-secondary:hover {
    background-color: darkgrey;
}

.table-bordered {
    background-color: white;
}

.panel-body {
    background-color: transparent;
}

#priceId {
    color: #6F4827;
    float: right;
    margin-right: 2em;
    font-family: Times;
}

#paymentPriceId {
    font-family: Times;
}

.navbar-nav {
    padding-top: 4px;
}

#loginBody {
    background-image: url("../image/background_desktop.jpg");
}

#erogationBody {
    background-image: url("../image/background_desktop.jpg");
}

#number {
    font-family: Times;
}

.col-lg-7 {
}

#exampleInputEmail1 {
    font-family: Times;
}

#heading-title {
    text-align: left;
    font-family: Antipasto, Times, Serif;
    font-size: 32px;
    color: #6F4827;
}